.remove-btn{
    margin-right: 0.5rem;
}

.link {
    color: rgb(9, 226, 38)
        
  }
.link:hover {
    color: rgb(245, 7, 245);
  }


.link-bookings {
    color: rgb(248, 7, 7)
        
  }
.link-bookings:hover {
    color: rgb(245, 7, 245);
  }

.fade-enter{
    opacity: 0.01;
}

.fade-enter-active{
opacity: 1;
transition: opacity 1000ms ease-in;
}

.fade-exit{
    opacity: 1;
}

.fade-exit-active{
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}